<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FoodPanda Suite">
  <test name="FoodPanda_Chrome">
    <classes>
      <class name="com.test.FP.verifybasicFunctionality"/>  
      <class name="com.test.FP.verifyloginFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
